export ENVIRONMENT=dev
export COMMIT_HASH=`git log -1 --format="%H"`

export APPLICATION_HOST=localhost
export APPLICATION_PORT=2000
export APPLICATION_SSL_PORT=2001

export PGPASSWORD=socialdevops
export PGHOST=127.0.0.1
export PGPORT=5432
export PGUSER=socialdevops
export PGDATABASE=socialdevops

export APPLICATION_POSTGRES_HOST=${PGHOST}
export APPLICATION_POSTGRES_USER=${PGUSER}
export APPLICATION_POSTGRES_PORT=${PGPORT}
export APPLICATION_POSTGRES_DB=${PGDATABASE}
export APPLICATION_POSTGRES_PW=${PGPASSWORD}
export APPLICATION_DB_POOLSIZE=10
